PORT=
NODE_ENV=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
DOTENV_CONFIG_QUIET=

MS_BO_URL=
MS_FO_URL=
MS_P_URL=

INTERNAL_SECRET=

LOG_LEVEL=

ALLOWED_ORIGINS=

EMAIL_USER=
EMAIL_PASSWORD=
FRONTEND_URL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=

# Product microservice endpoint to persist payment transactions.
PRODUCTS_TRANSACTION_PATH=/products/transactions